---
import Layout from '@/layouts/Layout.astro'
import { ServiciosCarruselReact2 } from '@/components/ServiciosCarruselReact2.jsx'

const cielo2 = '/img/jefes/diseño.png'
const nave = '/img/jefes/admin.jpg'
const lunes = '/img/jefes/logistica.png'
const nav = '/img/jefes/sales.jpg'

const naveThumb = '/img/jefes/diseño.png'
const naveThumb1 = '/img/jefes/admin.jpg'
const naveThumb2 = '/img/jefes/logistica.png'
const naveThumb3 = '/img/jefes/sales.jpg'
const textos = [
	'Empresa fundada en 1995, avalada con una gran experiencia en el sector del cartón.',
	'Auxiliar Manipuladora del Cartón va evolucionando para cubrir las necesidades de sus clientes',
	'Todas las personas que trabajan directa o indirectamente tienen el espíritu de aceptar los retos para adaptarse aun mercado más competitivo y exigente.',
	'Tras la incorporación de nuevas generaciones seguiremos avanzando juntos.',
]
const textos2 = {
	ventas: {
		dep: "Ventas",
		email: "ventas@laauxiliar.es",
		nombre: "Miguel Ángel Latorre",
		telefono: "686 944 933"
	},
	diseño: {
		dep: "Diseño",
		email: "dg@laauxiliar.es",
		nombre: "Vicente Latorre",
		telefono: "657 842 909"
	},
	logistica: {
		dep: "Logística",
		email: "logistica@laauxiliar.es",
		nombre: "Ángel Latorre",
		telefono: "657 803 024"
	},
	admin: {
		dep: "Administración",
		email: "administracion@laauxiliar.es",
		nombre: "Jesús Latorre",
		telefono: "686 944 932"
	},
}
const claves = ['ventas', 'diseño', 'logistica', 'admin'];
---

<Layout title='Sobre nosotros'>
	<div class='bodyIndex rounded-lg flex h-full justify-center items-center'>
		<ServiciosCarruselReact2
			client:load
			cielo2={cielo2}
			nave={nave}
			lunes={lunes}
			nav={nav}
			video={true}
			naveThumb={naveThumb}
			naveThumb1={naveThumb1}
			naveThumb2={naveThumb2}
			naveThumb3={naveThumb3}
			claves={claves}
			textos2={textos2}
		/>
	</div>
</Layout>

<style>
	:global(.light) .bodyIndex {
		color: #333;
	}
</style>
