---
import { books } from '../data/books.js'
import LayoutCatalogo from '../layouts/LayoutCatalogo.astro'
import ObtenerComponenteJsx from '../components/book/ObtenerComponenteJsx.astro'
import BtnEstrellas from '../components/botones-sliders/BtnEstrellas.astro'

const { book } = Astro.params
console.log(book)
const bookData = books.find((b) => b.id === book)
if (!bookData) {
	return Astro.redirect('/404')
}

export function getStaticPaths() {
	return books.map((book) => ({
		params: {
			book: book.id,
		},
	}))
}
---

<LayoutCatalogo title={bookData.id}>
	<article
		class='flex flex-col overflow-y-auto w-[70%] p-2 three-fondo rounded-xl'
	>
		<div class='flex flex-col p-2 m-2'>
			<a
				id='
			anchor'
				href='/catalogo'
			>
				<BtnEstrellas />
			</a>
			<div class='p-4'>
				<p>{bookData.opinion}</p>
				<span>{bookData.title}</span>
			</div>
		</div>

		<main class='flex items-center overflow-y-auto w-full p-2'>
			<div
				class='flex flex-1 flex-col cursor-pointer justify-center items-center h-[350px] overflow-auto'
			>
				<div class='flex flex-col'>
					<h2 class='text-lg font-bold [color:var(--auxi2)]'>3D</h2>
					<h3>Haz click y gíralo</h3>
				</div>
				<ObtenerComponenteJsx componente_jsx={bookData.three} />
			</div>

			<div class='flex flex-1'>
				<video
					class='object-scale-down h-[700px]'
					src={bookData.video}
					autoplay
					loop
					muted
				></video>
			</div>
		</main>
	</article>
</LayoutCatalogo>

<style>
	:global(.light) .three-fondo {
		background-color: #fff;
	}
	.three-fondo {
		background-color: #1e2427;
	}
	:global(.light) .click {
		color: black;
	}
</style>

<!-- src='/videos/montajes/video1G001.mp4' -->
